@import "./variables";

$primary-color: #007bff;
$secondary-color: #6c757d;
$background-color: #f8f9fa;
$border-color: #ced4da;
$hover-color: darken($primary-color, 10%);
$spacing-unit: 1rem;
$border-radius: 0.5rem;

.form-container {
  max-width: 600px;
  width: 90%; // Ensure it adjusts on smaller screens
  max-height: 90vh;
  height: auto;
  overflow-y: auto; // Allows scrolling on small screens
  position: fixed;
  top: 10%; // Adjust this to ensure the form is fully visible, rather than exactly centered
  left: 50%;
  transform: translateX(-50%); // Only translate horizontally
  flex-direction: column;
  justify-content: flex-start; // Align the content to the top
  align-items: center;
  background-color: $secondary-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: $spacing-unit * 2;

  .create-resource-form {
    width: 100%;
    box-sizing: border-box;
    label {
      display: block;
      margin-bottom: $spacing-unit * 0.5;
      font-weight: bold;
      color: $secondary-color;
    }

    input,
    textarea {
      box-sizing: border-box;
    }

    input[type="text"],
    textarea,
    input[type="number"] {
      width: 100%;
      padding: $spacing-unit * 0.75;
      margin-bottom: $spacing-unit;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      font-size: 1rem;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    input[type="file"] {
      width: 100%;
      margin-bottom: $spacing-unit;
      padding: $spacing-unit * 0.5;
      border: 1px dashed $border-color;
      border-radius: $border-radius;
      background-color: $background-color;
      cursor: pointer;

      &:hover {
        border-color: $primary-color;
      }
    }
    .days-of-week-container {
      display: flex;
      flex-wrap: wrap; // Allow tiles to wrap
      gap: 10px; // Spacing between tiles
      margin-bottom: 20px;

      .day-tile {
        padding: 10px 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.2s, color 0.2s; // Smooth transitions

        &.selected {
          background-color: #007bff; // Example selected color
          color: white;
          border-color: #007bff;
        }

        &:hover {
          background-color: #f0f0f0; // Subtle hover effect
          color: $faded-black;
        }
      }
    }
    .time-picker-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100px;
      max-width: 250px;
      background: $background-color;
      padding: 15px;
      margin: 15px 0;
      border-radius: 10px;

      label {
        color: $secondary-color;
        font-size: 14px;
        font-weight: 500;
      }

      .time-input {
        width: 100px;
        padding: 8px;
        border: 1px solid #444;
        background: #1e1e1e;
        color: #ffffff;
        border-radius: 5px;
        font-size: 16px;
        outline: none;
        transition: all 0.3s ease-in-out;

        &:focus {
          border-color: #007bff;
          box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
        }
        &::after {
          content: "Am";
        }
        &:last-child::after {
          content: "Pm";
        }
      }
    }

    .form-actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: $spacing-unit;
      margin-top: $spacing-unit;

      button {
        flex: 1;
        height: 45px;
        padding: $spacing-unit * 0.75;
        border: none;
        border-radius: $border-radius;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &[type="submit"] {
          background-color: $primary-color;
          color: white;

          &:hover {
            background-color: $hover-color;
          }
        }

        &[type="button"] {
          background-color: $secondary-color;
          color: white;

          &:hover {
            background-color: darken($secondary-color, 10%);
          }
        }
      }
    }

    .image-preview {
      position: relative;
      margin-bottom: $spacing-unit;

      img {
        max-width: 100%;
        border: 1px solid $border-color;
        border-radius: $border-radius;
      }

      .remove-image {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: $border-radius;
        cursor: pointer;
        font-size: 0.8rem;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        }
      }
    }

    /* Calendar Styling */
    .custom-calendar {
      width: 100%;
      margin-bottom: 1rem;
      border-radius: 6px;

      .react-calendar__navigation {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;

        button {
          background: none;
          border: none;
          padding: 0.5rem;
          cursor: pointer;
          font-weight: bold;
          color: $secondary-color;

          &:hover {
            color: $primary-color;
          }
        }
      }

      .react-calendar__month-view__weekdays {
        abbr {
          font-weight: bold;
          text-decoration: none;
        }
      }

      .react-calendar__month-view__days {
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        button {
          border: none;
          background: none;
          padding: 0.5rem;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.2s;

          &:hover {
            background-color: #f0f0f0;
          }

          &.react-calendar__tile--active {
            background-color: $primary-color;
            color: white;
          }
        }
      }
    }
  }

  .close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 6px;
    font-size: 1.5rem;
    color: $background-color;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .form-container {
    width: 95%;
    padding: $spacing-unit;
  }

  .create-resource-form {
    button {
      flex: 1;
      height: 40px;
    }

    input[type="text"],
    textarea,
    input[type="number"],
    input[type="file"] {
      padding: $spacing-unit * 0.5;
    }

    .time-range {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (max-height: 700px) {
  .form-container {
    max-height: 80vh;
    overflow-y: auto;
  }
}
