@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@mixin icon-style {
  .icon {
    height: 20px;
    width: 20px;
    color: white;
    margin-right: 1.5em;
  }
}

@mixin imageRender {
  @if img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  } @else {
    img {
      display: none;
    }
  }
}

* {
  margin: 0;
  padding: 0;

  ::-webkit-scrollbar {
    width: 16px;
  }

  ::-webkit-scrollbar-track {
    background-color: #171821;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #21222d;
    border-radius: 3px;
  }
}

html {
  scroll-behavior: smooth;
}

// _mixins.scss (for reusable styles)
@mixin elevation($level: 2) {
  @if $level == 1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  } @else if $level == 2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  } @else if $level == 3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  } @else {
    box-shadow: none;
  }
}

@mixin rounded-corners($radius: 8px) {
  border-radius: $radius;
}

@mixin li-style {
  li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
    margin-bottom: 0.4em;
    color: #4d4e55;
    text-align: center;
    font-size: $p-font-size;
    font-weight: 500;
    height: 50px;
    width: 90%;
    border-radius: 4px;
    p {
      margin-left: 0.7em;
      font-weight: 600;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@mixin section-style {
  height: auto;
  width: 85%;
  padding: 1em;
  box-sizing: border-box;
  background-color: $faded-black;
  border-radius: 8px;
}

@mixin progressBar {
  .progress-bar {
    width: 100%;
    height: 5px;
    background-color: #e4c8ed;
    border-radius: 6px;
  }
}

@mixin dropdown {
  .dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 50px;
    height: auto;
    width: 90%;
    padding: 0;
    transition: height 300ms linear;
    .dropdown-btn {
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-align: left;
      div {
        display: flex;
        justify-content: space-between;
        width: 68%;
        p {
          width: 80%;
          margin: 0;
        }
      }
    }
    .dropdown-list {
      transform: translateX(30px);
      width: 100%;
      height: fit-content;
      max-height: 200px;
      overflow-y: auto;

      margin-top: 0.4em;
      li {
        height: 2em;
        width: calc(100% - 30px);
        &:hover {
          color: $color-white;
        }
      }
    }
    &.open {
      scrollbar-width: thin;
      scrollbar-color: #171821;
      transition: height 300ms linear;
    }
  }
}

@mixin table {
  .table-container {
    box-sizing: border-box;
    overflow-x: auto;
    scrollbar-track-color: transparent;

    h2 {
      margin-bottom: 1em;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      tr {
        height: 50px;
        border-bottom: 3px solid #282833;
        th {
          color: $th-color;
          font-size: $header-font-size;
          font-weight: 500;
          min-width: 3em;
          padding: 0.5em;
        }
        td {
          @include progressBar();
          text-wrap: nowrap;
          padding: 0.5em;
          .sales-percentage {
            width: 6em;
            height: 3em;
            background-color: #fab75933;
            border-radius: 6px;
            border: 1px solid $color-orange;
            place-content: center;
            text-align: center;
            color: #fab659;
          }
        }
      }
    }
  }
}

body {
  background-color: $bg-color;
  font-family: $font-fam, sans-serif;
}

.dashboard-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.9em;
  box-sizing: border-box;

  //top nav
  .top-nav {
    @include icon-style();
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: $bg-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      align-items: center;
      input {
        width: 0;
        padding: 0.5em;
        font-size: 1em;
        border-radius: 6px;
        outline: none;
        border: none;
      }
      .open {
        width: 60%;
      }
    }
    .right {
      .dropdown-container {
        display: none;
        position: absolute;
        transform: translate(-120px, 20px);
        height: 160px;
        width: 13em;
        place-content: center;
        padding: 0.5em;
        background-color: $faded-black;
        border-radius: 6px;
        box-shadow: 5px 5px 5px $bg-color;
        .dropdown-content {
          list-style-type: none;
          @include li-style();
          li {
            color: #87888c;
            margin-bottom: 0em;
            p {
              margin-left: 0;
            }
            &:hover {
              background-color: rgba(61, 59, 59, 0.423);
            }
          }
        }
      }
      .dropdown-display {
        display: block;
      }
    }
  }

  .aside-nav {
    width: 0%;
    height: 100%;
    position: fixed;
    z-index: 900;
    backdrop-filter: blur(5px);
    transform: translateX(-300px);
    transition: width 300ms linear;
    h2 {
      color: $color-orange;
    }
    .icon {
      font-size: 1.4em;
    }
    .side-nav {
      position: absolute;
      z-index: 999;
      height: inherit;
      width: 50%;
      padding: 0.5em;
      transition: width 200ms linear;
      background-color: $bg-color;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .side-nav-header {
        margin-bottom: 0.5em;
        color: $color-white;
        width: 100%;
        text-align: center;
        margin-bottom: 1.5em;
      }
      .ul-list-container {
        height: 100vh;
        width: 100%;
        .ul-content {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          min-height: 100vh;
          width: 100%;
          @include dropdown();
          @include li-style();
          li:hover {
            color: $color-white;
          }
          .settings {
            transform: translateY(150px);
          }
        }
      }
    }
  }

  .section-div-container {
    display: grid;
    row-gap: 30px;
    height: 100%;

    .total-sales-container {
      @include section-style();
      text-align: left;
      h2 {
        margin-bottom: 30px;
        color: $color-white;
      }

      .inner-sales-cont {
        height: 180px;
        width: 95%;
        padding-left: 10px;
        margin-bottom: 1em;
        background-color: $bg-color;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        border-radius: 8px;
        @include icon-style();

        h3 {
          color: $color-white;
        }
        p {
          color: rgb(222, 220, 220);
        }
      }
    }

    .top-reservations-container {
      @include section-style();
      @include table();
      color: $color-white;
      text-align: left;
    }

    .trending-section {
      @include section-style();
      .trending-container {
        .header {
          color: $color-white;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        .image-container {
          @include progressBar();
          height: 12em;
          width: 100%;
          text-align: left;
          color: $color-white;

          h3 {
            margin-bottom: 10px;
          }

          p {
            color: $th-color;
            margin-bottom: 1em;
          }
        }
      }
    }
  }
  .slide-out {
    transform: translateX(0);
    width: 100%;
  }
}

// Login page
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em;
  height: 100vh;
  width: 100%;
  h1 {
    margin: 1em 0em;
    color: $color-orange;
  }
  .login-form {
    height: fit-content;
    width: 90%;
    padding: 1.5em;
    max-width: 30em;
    background-color: $faded-black;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2 {
      color: $color-white;
      margin-bottom: 0.5em;
    }
    p {
      color: #87888c;
      font-size: 1.1em;
      font-weight: 500;
      margin-bottom: 1em;
    }
    a {
      color: $color-aqua;
      text-decoration: none;
    }
    .form-control {
      text-align: left;
      margin-bottom: 1.5em;
      label {
        font-size: $p-font-size;
        color: $color-white;
      }
      input {
        background-color: #1b1b22;
        height: 3.2em;
        width: 100%;
        border-radius: 6px;
        border: none;
        outline: none;
        padding: 0.8em;
        box-sizing: border-box;
        margin: 0.5em 0em 0;
        font-size: $p-font-size;
        color: $color-white;
        &:hover {
          background-color: #171821;
          transition: all 300ms linear;
        }
      }
      button {
        width: 100%;
        height: 2.5em;
        text-align: center;
        font-size: $header-font-size;
        color: $bg-color;
        background-color: $color-aqua;
        border-radius: 6px;
        margin-top: 0.9em;
        &:hover {
          background-color: #73cabee0;
          transition: all 300ms linear;
        }
      }
      .check {
        width: 10%;
        margin-bottom: 1em;
        vertical-align: sub;
      }
      .password-input {
        position: relative;
        width: 100%;
        height: inherit;
        input {
          width: 100%;
          padding-right: 35px;
          box-sizing: border-box;
        }

        .eye {
          position: absolute;
          right: 15px;
          top: 55%;
          transform: translateY(-50%);
          color: $color-white;
          cursor: pointer;
          font-size: 1.2rem;

          &:hover {
            color: lighten($color-white, 20%);
          }
        }
      }
      .oauth {
        border: 1px solid $color-aqua;
        background-color: $faded-black;
        span {
          margin: 0;
          color: $color-aqua;
        }
        &:hover {
          background-color: #73cabe45;
          transition: all 300ms linear;
        }
      }
    }
    .hr {
      border-top: 1px solid #87888c5a;
      width: 100%;
      margin: 0.4em 0em;
    }
    span {
      margin-bottom: 0.8em;
      color: $color-white;
    }
  }
}

// Resrevation info page
.resevation-info-container {
  @include table();
  @include icon-style();
  width: 100%;
  height: 100vh;
  h2 {
    color: $color-orange;
    margin-bottom: 0.5em;
  }
  .reserv-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    text-align: left;
    width: 100%;
    background-color: $th-color;
    box-sizing: border-box;
    margin-bottom: 0.8em;
    span {
      padding: 0.5em;
      border: 2px solid $faded-black;
      border-radius: 3px;
      cursor: pointer;
      svg {
        vertical-align: middle;
      }
      &:hover {
        background-color: darken($th-color, 5%);
      }
    }
    p {
      font-weight: 600;
    }
    .icon {
      height: 30px;
      width: 30px;
      padding: 0.5em;
      cursor: pointer;
      border-radius: 50%;
      &:hover {
        background-color: rgba(49, 92, 94, 0.175);
        transition: all 400ms ease-in;
      }
    }
  }

  .reservation-table-container {
    width: 100%;
    height: 80vh;
    border: 1px solid $th-color;
    .table-container {
      width: 100%;
      padding-left: 0.5em;
      thead th {
        font-size: 0.9em;
      }
      tr {
        text-align: left;
        border-bottom: 2px solid #282833;
        height: 60px;
        box-sizing: border-box;
        img {
          height: 40px;
          width: 40px;
          margin-right: 1.5em;
        }

        td {
          color: $th-color;
          padding: 7.2px;
          p {
            font-size: 0.8em;
          }
        }
        .image-td {
          display: flex;
          font-size: 1em;
          align-items: center;
          justify-content: flex-start;
          height: inherit;
          &:nth-child(3) {
            font-size: 0.7em;
          }
        }
      }
    }
  }
}
@media (min-width: 575px) {
  .reservation-table-container {
    max-width: 90%;
    margin: 0 auto;
  }
}

// profile.
.profile-container {
  background-color: $background-color;
  color: $on-background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;

  h1 {
    color: $primary-color;
    margin-bottom: 1rem;
  }

  .profile-card {
    background-color: $surface-color;
    color: $on-surface-color;
    padding: 2rem;
    @include rounded-corners;
    @include elevation(2);
    width: 90%;
    max-width: 600px;
    margin-bottom: 2rem;
    p {
      margin-bottom: 0.5em;
    }

    .edit-form {
      input {
        width: 100%;
        padding: 0.8rem;
        margin: 1em 0;
        border: 1px solid #424242;
        background-color: $background-color;
        color: $on-surface-color;
        @include rounded-corners;
        box-sizing: border-box;
        &:focus {
          border-color: $primary-color;
          outline: none;
        }
      }
    }
    .profile-picture {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;

      .profile-picture-circle {
        position: relative;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid $primary-color;
        cursor: pointer;
        display: flex; // Use flexbox for centering
        align-items: center;
        justify-content: center; // Center content vertically and horizontally

        .user-icon {
          width: 70%;
          height: 70%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .camera-icon {
          position: absolute;
          top: 50%; // Center vertically
          left: 50%; // Center horizontally
          transform: translate(-50%, -50%); // Adjust for centering
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.5);
          color: white;
          padding: 5px;
          border-radius: 50%;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }

      button {
        margin-top: 10px;
      }
    }

    h2 {
      margin-bottom: 1rem;
      color: $primary-color;
      border-bottom: 1px solid $primary-color;
      padding-bottom: 0.5rem;
    }
    form {
      .input-group {
        margin-bottom: 1.5rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
          color: $on-surface-color;
        }
        input {
          // Added password input style
          width: 100%;
          padding: 0.8rem;
          border: 1px solid #424242;
          background-color: $background-color;
          color: $on-surface-color;
          @include rounded-corners;
          box-sizing: border-box;
          &:focus {
            border-color: $primary-color;
            outline: none;
          }
        }
        .error-message {
          color: $error-color;
          margin-top: 0.5rem;
          font-size: 0.9rem;
        }

        .success-message {
          color: rgb(37, 197, 37); // Define a success color variable
          margin-top: 0.5rem;
          font-size: 0.9rem;
        }
      }
    }
    button {
      background-color: $primary-color;
      color: $on-surface-color;
      padding: 0.8rem 1.5rem;
      border: none;
      border-radius: 6px;
      margin-top: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
      &:disabled {
        background-color: grey;
        cursor: not-allowed;
      }
    }

    // Removed redundant div styles
    div {
      margin-bottom: 1em; // Keep this for other divs if needed
    }
  }
}

// Categories && Reservertions dropdown

$primary-color: #673ab7; // Deep purple
$secondary-color: #ff9800; // Orange accent
$background-color: #f5f5f5; // Light gray background
$surface-color: #ffffff; // White surface for forms
$on-background-color: #333333; // Dark text on light background
$on-surface-color: #333333; // Dark text on white surface
$border-color: #cccccc; // Light gray border
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

// _mixins.scss (reusable styles)
@mixin rounded-corners($radius: 8px) {
  border-radius: $radius;
}

@mixin form-element {
  width: 100%;
  padding: 1rem;
  @include rounded-corners(4px);
  box-sizing: border-box;
  font-size: 1rem;
  background-color: $faded-black;

  &:focus {
    border-color: $primary-color;
    outline: none;
    box-shadow: 0 0 5px rgba($primary-color, 0.2);
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  background-color: $background-color;

  min-height: 300px;
  height: fit-content;
  width: 90%;
  box-sizing: border-box;
  font-family: sans-serif;
  border-radius: 6px;

  h2 {
    color: $primary-color;
    margin-bottom: 1rem;
  }

  form {
    background-color: $dropdown-surface-color;
    padding: 2rem;
    @include rounded-corners;
    box-shadow: $drop-box-shadow;
    width: 90%; // Responsive width
    max-width: 600px;

    label {
      display: block;
      margin-bottom: 0.5rem;
      color: $drop-on-surface-color;
      font-weight: 500;
    }

    input[type="text"],
    textarea,
    select {
      @include form-element;
      margin-bottom: 1rem;
    }

    textarea {
      resize: vertical; // Allow vertical resizing
      min-height: 120px;
    }

    input[type="file"] {
      margin-bottom: 1rem;
    }

    button[type="submit"] {
      background-color: $primary-color;
      color: $dropdown-surface-color;
      padding: 1rem 1.5rem;
      border: none;
      @include rounded-corners;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-size: 1rem;

      &:hover {
        background-color: darken($primary-color, 10%);
      }

      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
    }
  }
}

.create-category-form {
  @include form-element();
  position: relative;
  z-index: 999;
  width: 90%;
  margin: 0 auto;
  transform: translateY(60%);
  transition: transform 0.3s ease;
  background-color: $faded-black;
  border: 1px solid $th-color;

  label {
    display: block;
    margin-bottom: 0.5rem;
    color: #4d4e55;
    font-weight: 600;
  }
  input[type="text"] {
    @include form-element;
    border: 1px solid $th-color;
    margin-bottom: 1rem;
    color: $border-color;
  }
  button {
    background-color: $primary-color;
    color: $border-color;
    padding: 0.7rem;
    border: none;
    @include rounded-corners;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    margin-right: 0.4em;

    &:hover {
      background-color: darken($primary-color, 10%);
    }

    &:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
  }
}

// Resource Div
$card-width-large: calc(33.33% - 20px);
$card-width-medium: calc(50% - 20px);
$card-width-small: 100%;
$border-color: #ddd;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 4px 8px rgba(0, 0, 0, 0.15);
$delete-button-color: #f44336;
$delete-button-color-hover: #d32f2f;

.resource-list-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; // Enable wrapping
  gap: 20px;
  padding: 10px; // Add padding to the container

  .resource-card-container {
    display: flex;
    border-radius: 8px;
    box-shadow: $box-shadow;
    transition: background-color 0.2s;
    flex: 1 0;

    &:hover {
      background-color: rgba(255, 255, 255, 0.281);
    }

    .resource-image {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
      flex-shrink: 0;
    }

    .resource-card-content {
      padding: 15px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      min-height: 0;
      width: 300px;

      .image-skeleton {
        width: 100%;
        height: 200px;
        background-color: #c5c5c5;
        border-radius: 5px;
        animation: pulse 1.5s infinite;
      }

      @keyframes pulse {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }
    }

    .resource-text {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-top: 10px;

      h3 {
        margin-bottom: 5px;
        color: $category-primary-color;
      }
      .week-container {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: 5px 0;
        .day-tile {
          padding: 8px 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          cursor: not-allowed;
          width: fit-content;
          transition: all 0.2s, color 0.2s; // Smooth transitions
          &:hover {
            background-color: darken($category-primary-color, 5%);
            transform: scale(1.1);
          }
        }
      }
      p {
        flex-wrap: wrap;
        margin-bottom: 5px;
        color: $background-color;
      }
    }
  }

  .no-resources-message {
    text-align: center;
    color: #888;
    margin-top: 20px;
  }
}

/* Responsive adjustments */
@media (min-width: 768px) {
  .resource-card-container {
    width: 33.33%;
  }
}

// category page
.category-page {
  max-width: 1200px;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  scroll-behavior: auto;

  .category-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0.7em;
    background-color: $border-color;
    border-radius: 8px;
    box-shadow: $box-shadow-sm;
    box-sizing: border-box;
    .category-title {
      font-size: 1.1em;
      color: $dark-text;
      font-weight: 500;
    }

    .add-resource-button {
      background-color: $category-primary-color;
      color: $white;
      border: none;
      padding: 10px 10px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 0.6rem;
      font-weight: bold;
      transition: background-color 0.2s;
      display: flex;
      align-items: center;
      gap: 5px;
      &:hover {
        background-color: darken($primary-color, 10%);
      }

      svg {
        font-size: 1.2rem;
      }
    }
  }

  .create-resource-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .create-resource-form {
      background-color: $white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: $box-shadow;
    }
  }
}

@media (min-width: 768px) {
  .category-page {
    padding: 10px;
    max-height: 85px;
    .category-header {
      .category-title {
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}
